 <h2 class="title">Stats for Today</h2>

<h4 class="sub-title">Calorie Intake</h4>
<ul class="sub-sub-title">
    {{#each meals as |meal|}}
    <li>{{this.name}}: {{this.calories}}</li>
    {{/each}}
</ul>

<h4 class="sub-title">Calories Burnt</h4>
<ul class="sub-sub-title">
    {{#each workouts as |workout|}}
    <li>{{this.name}}: {{this.calories}}</li>
    {{/each}}
</ul>

{{#if isPositive}}
<h4 class="sub-title">Total Calories Gained</h4>
{{else}}
<h4 class="sub-title">Total Calories Lost</h4>
{{/if}}
<ul class="sub-sub-title">
    <li>{{difference}}</li>
</ul>

<h3 class="sub-title">View Another Date</h3>
<form class="form stats-form">
    <div class="form-group, sub-sub-title">
        <label for="stats-date">Date:</label>
        <input class="form-input" type="date" id="stats-date">
    </div>
    <div class="form-group, sub-sub-title">
        <button class="btn btn-primary" type="submit">View Date</button>
    </div>
</form>

<script src="/js/view-stats.js"></script>